@page "/participate"
@using Model.Quiz
@rendermode InteractiveServer
@inject QuizManager manager

<PageTitle>Delta</PageTitle>
<h1>Deltagare</h1>

@if (quiz == null)
{
    <p>Laddar quiz...</p>
}
else
{
    <p>@quiz.Title</p>
    <p>@quiz.Questions[quiz.CurrentQuestionIndex].Text</p>

    @for (int i = 0; i < quiz.Questions[quiz.CurrentQuestionIndex].Answers.Count; i++)
    {
        int index = i;
        string? answer = quiz.Questions[quiz.CurrentQuestionIndex].Answers[i];
        <button @onclick="() => Submit(quiz.Questions[quiz.CurrentQuestionIndex].Id, index)">@answer</button>
    }
    @if (selectedAnswerIndex != null)
    {
        if (isCorrect)
        {
            <p style="color:green">Korrekt svar!</p>
            ShowNextQuestion();
        }
        else
        {
            <p style="color:red">Fel svar</p>
        }
    }
}
@code
{
    [Parameter]
    public string? QuizId { get; set; } = "1";

    private Quizz? quiz;
    private bool isCorrect;
    private int? selectedAnswerIndex;

    protected override void OnParametersSet()
    {
        if (!string.IsNullOrWhiteSpace(QuizId))
        {
            manager.OnStateChanged += Refresh;
            quiz = manager.GetQuizById(QuizId);
        }
        else
        {
            return;
        }
    }

    public void Refresh()
    {
        InvokeAsync(StateHasChanged);
    }
    public void Submit(string participentId, int answerIndex)
    {
        @* var questionId = quiz1.Questions[quiz1.CurrentQuestionIndex].Id; *@
        if (QuizId == null)
            return;

        selectedAnswerIndex = answerIndex;

        manager.SubmitAnswer(participentId, answerIndex, QuizId);

        isCorrect = manager.CheckCorrectAnswer(QuizId, answerIndex);
    }
    public void Dispose() =>
        manager.OnStateChanged -= Refresh;

    @* public void ShowNextQuestion()
    {
        Refresh();
        manager.NextQuestion();
    } *@
}